<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<h1>Filters</h1>
    <label>From: 
        <input type="date" name="startDate" id="startDate" value="2018-07-22">
    </label>
    <label>To: 
        <input type="date" name="endDate" id="endDate" value="2020-07-22">
    </label>

<canvas id="my-chart"></canvas>